<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Spring-MVC/Hibernate/Maven</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<nav
			class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="border-bottom:solid 2px;">
			<div class="container-fluid">
				<a class="navbar-brand" href="/" style="margin-top:5px;">ProductApp</a>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="margin-top:20px;">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item" style="margin-left:10px; margin-right:20px;list-style: none;"><a class="nav-link text-dark"
							href="products/list">Products</a></li>
						<li class="nav-item d-flex justify-content-end" style="list-style: none;margin-left:5px;"><a
							class="nav-link text-dark " href="categories.html">Categories</a>
						</li>
              
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<form action="#" th:action="@{save/}" th:object="${product}" method="post">
			<div class="form-group">
				<label for="productName">Adı :</label>
				 <input type="text"
					class="form-control" th:field="*{productName}" id="productName"
					name="productName" />
			</div>
			<div class="form-group">
				<label for="price">Fiyatı :</label> <input type="text"
					class="form-control" th:field="*{price}" id="price" name="price" />
			</div>
			<div class="form-group">
			<label for="imageUrl">Fotoğraf :</label> <input type="text"
				class="form-control" th:field="*{imageUrl}" id="imageUrl"
				name="imageUrl" />
			</div>
			<div class="form-group">
				<label for="description">Açıklama :</label> <input type="text"
					class="form-control" th:field="*{description}" id="description" name="description" />
			</div>
	<button name="submit" class="btn btn-success" type="submit" value="1">Ekle</button>
	</form>
	</div>
</body>
</html>